{% extends 'cursos/base.html' %}
{% block body %}
    {% set curso=curso or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Curso Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Titulo'),'titulo',curso.titulo,errors.titulo) }}
                        {{ form_input(_('Preco'),'preco',curso.preco,errors.preco) }}
                        {{ form_input(_('Inicio'),'inicio',curso.inicio,errors.inicio) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}