{% extends 'base/base.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>{% trans %}File Upload Form{% endtrans %}</h1>

          <form action="{{ upload_url }}" method="post" role="form" enctype="multipart/form-data">
            {{ csrf_input() }}
            <div class="form-group ">
              <label for="upInput"
                     class="control-label">{% trans %}Choose a file{% endtrans %}</label>
              <input id="upInput" type="file" name="files[]" multiple="multiple" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success">{% trans %}Upload{% endtrans %}</button>
          </form>

          <h2>Lista de Arquivos</h2>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th></th>
              <th>Imagem</th>
              <th>Criação</th>
              <th>Arquivo</th>
              <th>Tipo de Conteúdo</th>
              <th>Tamanho (bytes)</th>
            </tr>
            </thead>
            <tbody>
            {% for blob_file in blob_files %}
              <tr>
                <td>
                  <a href="{{ blob_file.download_path }}" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                  </a>
                </td>
                <td>{% if blob_file.img %}
                  <img src="{{ blob_file.img }}" width="64px"/>
                {% else %}
                  Não se aplica
                {% endif %}
                </td>
                <td>{{ blob_file.creation }}</td>
                <td>{{ blob_file.filename }}</td>
                <td>{{ blob_file.content_type }}</td>
                <td>{{ blob_file.size }}</td>
                <td>
                  <form action="{{ blob_file.delete_path }}" method="post"
                        onsubmit="return confirm('{{ _('Tem certeza que deseja apagar o arquivo? Pressione cancelar para evitar a deleção.') }}');">
                    {{ csrf_input() }}
                    <button class="btn btn-danger btn-sm"><i
                            class="glyphicon glyphicon-trash"></i></button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}