{% extends 'base/base.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Perfil de Github de {{ usuario }}</h1>
      </div>
    </div>
    <br/>
    <br/>

    <div class="row">
      <div class="col-md-4">
        <img src="{{ avatar }}" width="200px"/>
      </div>
      <div class="col-md-6">
        <h2>Repositórios</h2>
        <ol>
          {% for repo in repos %}
            <li><a href="{{ repo.html_url }}">{{ repo.name }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}